
.Titre {
    -fx-font-family: Public;
    -fx-font-size: 75px;
    -fx-font-weight: bolder;
    -fx-text-fill: red;
}

.Titre1 {
    -fx-font-family: Public;
    -fx-font-size: 75px;
    -fx-font-weight: bolder;
    -fx-text-fill: orange;
}

.Titre2 {
    -fx-font-family: Public;
    -fx-font-size: 75px;
    -fx-font-weight: bolder;
    -fx-text-fill: yellow;
}

.Titre3 {
    -fx-font-family: Public;
    -fx-font-size: 75px;
    -fx-font-weight: bolder;
    -fx-text-fill: #51c251;
}

.Titre4 {
    -fx-font-family: Public;
    -fx-font-size: 75px;
    -fx-font-weight: bolder;
    -fx-text-fill: #4d4dff;
}

.Titre5 {
    -fx-font-family: Public;
    -fx-font-size: 75px;
    -fx-font-weight: bolder;
    -fx-text-fill: lightblue;
}

.Titre6 {
    -fx-font-family: Public;
    -fx-font-size: 75px;
    -fx-font-weight: bolder;
    -fx-text-fill: white;
}

.Progress {
    -fx-progress-color: white;
}
.ProgressSalon {
    -fx-progress-color: white;
    -fx-scale-x: 2;
    -fx-scale-y: 2;
}


.ButtonAccueil {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-size: 30px;
    -fx-font-weight: bolder;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, #6600CC, #3366FF);
}

.input {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-size: 30px;
    -fx-font-weight: bolder;
}

.labelAccueil {
    -fx-font-size: 30px;
    -fx-font-weight: bolder;
    -fx-text-fill: #ffffff;
}

.carteBouton {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-pref-width: 100px;
    -fx-pref-height: 50px;
}

.winner {
    -fx-font-size: 40px;
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-border-color: linear-gradient(to right bottom, #ff0000, #ff5b00, #ff8700, #ffad00, #ffd000, #f7e000, #ebef00, #dcff00, #bfff00, #9dff00, #72ff00, #22ff00);
    -fx-border-style: solid;
    -fx-border-width: 7.0;
    -fx-border-radius: 15.0;
    -fx-padding: 20.0 40.0;
}


